@using Aptex.Contracts.ViewModels
@model ProductViewModel

@using (Html.BeginForm("AddToBasket", "Products"))
{
    @Html.HiddenFor(m => m.ProductId)

    <div class="card aptex-product-card" style="width: 18rem;">
        @if (!String.IsNullOrEmpty(Model.ImageUrl))
        {
            <div class="aptex-product-card-img-wrap" style="background-image: url('@Model.ImageUrl');"></div>
        }
        else
        {
            <div style="font-size: 24px; text-align: center; color: #418457; padding-top: 10%;" class="aptex-product-card-img-wrap">
                <i class="far fa-images fa-2x"></i>
            </div>
        }


        <div class="aptex-product-card-body">
            <h6 class="aptex-product-card-header">@Model.ProductName, @Model.Quantity</h6>
            <p class="text-muted">@Model.Price zł</p>
        </div>
        <button type="submit" class="btn aptex-add-btn">Add to basket</button>
    </div>
}